log
src/*.mod
src/*.out
src/*.bin
src/*.MOD
src/*.log
src/*log
src/*dSYM
src/*.xdmf
src/*.xmf
src/*.in
src/flutas*
src/**/*.o
src/**/**/*.o
src/data/
utils/postprocessing/*.out
examples/*.out
examples/*.log
examples/*log


